{	
	"meta"	:	
	{
		 "version":"0.0.1",
		 "platform":1 ,
		 "channelId":1 ,
		 "packageName":"com.zulong.test" 
	},
	"init"	: 
	{ 
		"channel":
		 {
		 	 "uc_appId":"119474",
		 	 "uc_appKey":"juubkygcvo",
		 	 "orientation":"landscape",
		 	 "debug_model":true,
		 	 "log_level":"debug",
		 	 "showPayHistory":"true",
		 	 "showChangeAccoutBt":"false",
		 	 "loginFaceType":"USE_WIDGET"
		 },
		 
		 "common":{} 
	},
	
	"login"	: 
	{ 
		"channel":
		 {
		 	
		 } 
	},
	
	"pay"		: 
	{ 
		"channel": {} 
	}






}