{	
	"meta"	:	{ "version":"0.0.1", "platform":1 ,"channelId":1 ,"packageName":"com.zulong.test" },
	"init"	: { "channel": { "xiaomi_appId":"123456xyz", "xiaomi_appKey":"juubkygcvo","orientation":"landscape"}, "common":{} },
	"login"	: { "channel": {} },
	"pay"		: { "channel": {} }


hehhehhehheheh



}